<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription - Forum</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Page top -->
    <header class="site-header">
        <div class="header-content">
            <div class="header-logo">
                <a href="/" class="brand-title">Forum</a>
            </div>
            <nav class="header-nav">
                <a href="/inscription" class="nav-link">Inscription</a>
                <a href="/connexion" class="nav-link">Connexion</a>
            </nav>
        </div>
    </header>
    
     <!-- Page content -->
    <main>
        <div class="form-container">
            <h2>Créer un compte</h2>
            <div id="message"></div>
            <form id="inscriptionForm">
                <div class="form-group">
                    <label for="username">Nom d'utilisateur:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                
                <div class="form-group">
                    <label for="password">Mot de passe:</label>
                    <input type="password" id="password" placeholder="minimum 8 caractères" name="password" required>
                </div>
                
                <div class="form-group">
                    <label for="confirm-password">Confirmer le mot de passe:</label>
                    <input type="password" id="confirm-password"  placeholder="identique au mot de passe" name="confirm-password" required>
                </div>
                
                <button type="submit">S'inscrire</button>
            </form>
            <p>Vous avez déjà un compte ? <a href="/connexion">Se connecter</a></p>
        </div>
    </main>
    
    <!-- Page bottom -->
    <footer class="site-footer">
        <p>&copy; 2026 Fake Forum. ANY rights reserved.</p>
    </footer>

    <script src="/js/inscription.js"></script>
</body>
</html>