<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Topic</title>
</head>

<body>

<script>
  const post = JSON.parse(`{{POST_JSON}}`);
</script>

<header>
  <h1 id="title"></h1>
</header>

<main>
  <div>
    <p id="body"></p>
    <small id="meta"></small>
  </div>
</main>

<script>
document.getElementById("title").textContent = post.title;
document.getElementById("body").textContent = post.body;
document.getElementById("meta").textContent =
  "par " + post.username + " • " + post.category;
</script>

</body>
</html>